name: Run Python Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # 2023-01-18: no torchvision support for Python 3.11 yet:
        # https://github.com/pytorch/vision/issues/7049
        python-version: [ '3.7', '3.8', '3.9', '3.10' ]
    name: Python ${{ matrix.python-version }} Test
    steps:
      - uses: actions/checkout@v3
      - name: Install Python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install native dependencies
        # cmake and compiler already installed
        run: |
          sudo apt-get install -y libyaml-cpp-dev
      - name: Install Python dependencies and package
        run: |
          pip install -U pip
          pip install . -v
      - name: Run tests
        run: |
          python -m unittest -v 
